@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato';
	text-align: center;
}
body{
	background: #212121;
}
ul {
li {
display: inline-block;
vertical-align: top;
margin: 10px;
width: 200px;
position: relative;
overflow: hidden;
&:hover {
	section {
		opacity: 1;
	}
	img {
		opacity: 0;
		transition: .5s opacity;
	}
}
img {
width: 100%;
height: auto;
display: block;
transform: scale(1);
transition: transform .25s ease-in-out;
}
}
}

section {
	position: absolute;
	bottom: 0;
	background: rgba(white, 0.9);
	padding: 20px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	opacity: 0;
	transition: opacity .5s;
	p{
		line-height: 1.4;
		font-size: 15px;
	}
}