{% extends "shared/moviebase.twig" %}

{% block content %}
<div class="row">
	{% for genre in genres %}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<a href="{{ app.request.basePath }}/genre.php?id={{ genre.id }}">
				<div class="caption">
					<h3 style="">{{ genre.name }}  <small><div class="label label-info">{{ genre.count }} movies</div></small></h3>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
