{% extends "client/base.twig" %}

{% block content %}
    <p class="nes-balloon from-left nes-pointer">
        ConSolo is a single app that does it all!
    </p>
    <i style="float: left; margin-top: 80px;" class="nes-mario"></i>
    <br>
    <br>
    <br>
    <section class="showcase">
        <section class="nes-container with-title">
        </section>
    </section>
{% endblock %}
