{% extends "shared/base.twig" %}

{% block content %}
    <p class="nes-balloon from-left nes-pointer">
        ConSolo is a single app that does it all!
    </p>
    <i style="float: left; margin-top: 80px;" class="nes-mario"></i>
    <br>
    <br>
    <br>
    <section class="showcase">
        <section class="nes-container with-title">
            <h3 class="title">Development Status</h3>
            <h3>Data Sources</h3>
            <div class="nes-table-responsive">
                <table class="nes-table is-bordered is-centered">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Updating</th>
                            <th>Platforms</th>
                            <th>Games</th>
                            <th>ROMs</th>
                            <th>Emulators</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MAME</td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star is-half"></i></td>
                        </tr>
                        <tr>
                            <td>LaunchBox</td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                        </tr>
                        <tr>
                            <td>TOSEC</td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star is-empty"></i></td>
                        </tr>
                        <tr>
                            <td>Redump</td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star is-empty"></i></td>
                        </tr>
                        <tr>
                            <td>No-Intro</td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star is-empty"></i></td>
                        </tr>
                        <tr>
                            <td>TheGamesDB</td>
                            <td><i class="nes-icon is-large star is-half"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star is-empty"></i></td>
                            <td><i class="nes-icon is-large star is-empty"></i></td>
                        </tr>
                        <tr>
                            <td>Old-Computers</td>
                            <td><i class="nes-icon is-large star is-half"></i></td>
                            <td><i class="nes-icon is-large star"></i></td>
                            <td><i class="nes-icon is-large star is-empty"></i></td>
                            <td><i class="nes-icon is-large star is-empty"></i></td>
                            <td><i class="nes-icon is-large star is-transparent"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </section>
    </section>
{% endblock %}
