{% extends "shared/moviebase.twig" %}

{% block content %}
<div class="row">
	{% for movie in results %}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img alt="100%x200" style="height: 200px;  display: block;" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.poster_path }}">
			<div class="caption">
				<h3 style="">{{ movie.title }}</h3>
				<p>{{ movie.overview }}</p>
				<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
