@import url("https://fonts.googleapis.com/css?family=Encode+Sans:400,700|Passion+One:400,700");
body {
  color: #fff;
  font-family: 'Encode Sans', sans-serif;
  background: #1c1c1c;
}
h3,
h1,
ul,
p {
  margin: 0;
}
.row .col {
  padding: 0;
}
header {
  height: 100vh;
  position: fixed;
  width: 60px;
}
.main-head {
  padding: 0 2rem !important;
}
.main-head,
.head-log,
.head-info,
.head-config,
.upcoming-head {
  height: 50px;
  color: #707070;
}
.upcoming-head {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  background: #141414;
}
.upcoming-head h6 {
  font-weight: 700;
}
.movie-view {
  padding: 10% 30px !important;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #fafafa;
  display: none;
  position: relative;
  z-index: 1;
}
.movie-view .movie-view-title h1 {
  line-height: 1em;
  margin-bottom: 30px;
}
.divider {
  margin-top: 20px;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -webkit-box-shadow: 0px 0px 10px #e0e0e0;
  box-shadow: 0px 0px 10px #e0e0e0;
}
.star-active {
  color: #ff0;
}
.geners,
.trailer {
  margin-top: 20px;
}
.geners ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.geners ul li {
  border: 1px solid #fafafa;
  padding: 2px 15px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 20px;
  color: #fafafa;
}
.image {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto auto;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.image img {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.image h2 {
  position: absolute;
  font-family: 'Passion One', cursive;
}
.video-trailer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  z-index: 2;
  display: none;
}
.video-responsive {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
.video-responsive iframe {
  max-width: 100%;
  width: 80%;
  height: 80%;
}
.trailer-play {
  width: 50px;
  height: 50px;
  float: right;
  cursor: pointer;
  color: #fff;
  position: relative;
  font-size: 12px;
  padding: 12px 12px 0px 0px;
  cursor: pointer;
  background: rgba(25,118,210,0.5);
  border: 1px solid #1976d2;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.trailer-play:active,
.play:active,
.close:active,
.close-trailer:active {
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
}
.upcoming-list,
.movie-view {
  height: calc(100vh - 50px);
}
.col.movie {
  padding: 0 0.75rem !important;
}
.upcoming-movie {
  height: calc((100vh - 50px) / 3);
  text-align: center;
  padding: 20px !important;
}
.upcoming-movie img {
  height: 100%;
}
nav {
  height: 100%;
  background: none;
}
nav i {
  font-size: 30px !important;
  height: 50px !important;
  line-height: 50px !important;
}
.hamburger li {
  text-align: center;
  width: 100%;
}
.navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
}
.navbar li {
  border-bottom: 3px solid #101010;
  width: 100%;
  text-align: center;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
}
.navbar li:hover {
  background: #101010;
}
.head-info .valign-wrapper,
.head-config .valign-wrapper {
  height: 100%;
}
.menu-section {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,0.9);
  z-index: 100;
  display: none;
}
.search {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}
.search form {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
}
input[type=text]:not(.browser-default) {
  font-size: 2rem;
}
.disabled {
  display: none !important;
}
.close,
.close-trailer {
  height: 30px;
  width: 30px;
  right: 50px;
  top: 50px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding-top: 3px;
  padding-left: 3px;
}
.app {
  margin-left: 60px;
}
.navbar li.active-menu,
.navbar li:active {
  background: #101010;
  border-left: 3px solid #0d47a1;
}
.head-logo {
  font-family: 'Passion One', cursive;
  color: #fff;
}
.head-info ul li {
  font-size: 10px;
  font-weight: 700;
  margin-left: 15px;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
}
.head-info ul li i {
  font-size: 15px;
  margin-right: 10px;
}
.head-info ul li:nth-child(1) i {
  color: #0d47a1;
}
.head-info ul li:nth-child(2) i {
  color: #00c853;
}
.head-info ul li:nth-child(3) i {
  color: #bf360c;
}
.head-config ul li i {
  font-size: 20px;
  margin-right: 10px;
}
.head-config ul li:hover,
.head-info ul li:hover,
.watchtlist-movie-tv ul li:hover {
  color: #fff;
}
.head-config ul li:hover,
.head-info ul li:hover,
.watchtlist-movie-tv ul li {
  cursor: pointer;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  transition: color 0.5s linear;
}
.had-container .row {
  margin-bottom: 0;
  position: relative;
}
.watchlist-head {
  height: 70px;
}
.watchlist-head,
.watchlist-list {
  color: #707070;
  font-weight: 700;
}
.main-watchlist {
  background: #282828;
  height: calc(100vh - 50px);
  overflow: auto;
  position: relative;
  padding: 2rem !important;
}
.watchtlist-movie-tv ul {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  color: #fafafa;
}
.watchtlist-movie-tv ul li {
  padding: 0 10px;
}
.watchtlist-movie-tv ul li:last-child {
  border-left: 2px solid #353535;
}
.watchlist-list {
  position: relative;
  height: 100%;
}
.load {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
}
.spinner {
  height: 2px;
  background: #000;
  position: relative;
  top: 50%;
  overflow: hidden;
}
.spinner::after {
  background: #fff;
  content: '';
  width: 100%;
  left: 0;
  height: 100%;
  position: absolute;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation-name: spinner;
  -moz-animation-name: spinner;
  -o-animation-name: spinner;
  -ms-animation-name: spinner;
  animation-name: spinner;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  -ms-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.watchlist {
  height: 100%;
  position: absolute;
}
.datas {
  position: relative;
}
.datas::before {
  background-color: rgba(0,0,0,0);
  content: '';
  top: 0;
  height: 100%;
}
.datas::after {
  background: #0d47a1;
  content: '';
  bottom: 0;
  height: 5px;
}
.data-info,
.play {
  position: absolute;
}
.data-info {
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.play {
  top: calc(50% - 1rem);
  left: calc(50% - 1.75rem);
  cursor: pointer;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background: rgba(25,118,210,0.5);
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid #1976d2;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.play i {
  margin: 12px 0 0 11px;
}
.like {
  position: absolute;
  bottom: 30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.like,
.like i {
  font-size: 10px;
  font-weight: 100;
}
.movie-view-like i,
.movie-view-like,
.stars i {
  font-size: 15px;
  font-weight: 100;
}
.movie-view-list {
  height: 100%;
  width: 100%;
  padding: 0 10%;
}
.like i,
.movie-view-like i {
  margin-right: 5px;
}
.shadow {
  z-index: 0;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  background: -moz--webkit-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -moz--moz-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -moz--o-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -moz--ms-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 22%, #000 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(22%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit-gradient(left top, left bottom, color-stop(22%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit-gradient(left top, left bottom, color-stop(22%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit-gradient(left top, left bottom, color-stop(22%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit-gradient(to right bottom, left bottom, color-stop(22%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit--webkit-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -webkit--moz-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -webkit--o-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -webkit--ms-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 22%, #000 100%);
  background: -o--webkit-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -o--moz-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -o--o-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -o--ms-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 22%, #000 100%);
  background: -ms--webkit-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -ms--moz-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -ms--o-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -ms--ms-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -ms-linear-gradient(to bottom, rgba(0,0,0,0) 22%, #000 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 22%, #000 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 22%, #000 100%);
}
.movie {
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}
.movie .category {
  font-size: 10px;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.datas::before,
.datas::after {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  left: 0;
  width: 100%;
  position: absolute;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.datas::before {
  background: rgba(0,0,0,0.3);
  content: '';
  top: 0;
  height: 100%;
}
.datas::after {
  background: #0d47a1;
  content: '';
  bottom: 0;
  height: 5px;
}
.movie:hover .datas::after,
.movie:hover .datas::before,
.movie:hover .like,
.movie:hover .play {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.movie:hover .category,
.like i,
.movie-view-like i {
  color: #0277bd;
}
.ps:hover > .ps__scrollbar-y-rail:hover {
  background-color: transparent;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ps > .ps__scrollbar-y-rail {
  width: 10px;
}
.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
  width: 6px;
}
.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y,
.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x,
.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  width: 6px;
}
.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail,
.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
button,
button:active,
button:focus {
  background: none;
  border: none;
}
h4 spam {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .movie-view-title h1 {
    font-size: 2.5em;
  }
  .popularity {
    display: block;
  }
  input[type=text]:not(.browser-default) {
    font-size: 1rem;
  }
  .video-responsive iframe {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
