    <div style="height: 50px;">
        <i style="float: left; margin-left: 10px;" class="nes-logo"></i>
        <h1 style="float: left; margin-left: 10px;">ConSolo</h1>
        <i style="float: left; margin-left: 10px;" class="snes-logo"></i>
    </div>
    <br>
    <p>
        <a class="nes-btn is-default" href="index.html">About</a>
        <a class="nes-btn is-warning" href="status.php">Status</a>
        <a class="nes-btn is-error" href="match.php">Matches</a>
        <a class="nes-btn is-primary" href="emulators.php">Emulators</a>
        <a class="nes-btn is-default" href="platforms.php">Platforms</a>
        <a class="nes-btn is-warning" href="games.php">Games</a>
        <a class="nes-btn is-primary" href="roms.php">ROMs</a>
        <a class="nes-btn is-error" href="https://nostalgic-css.github.io/NES.css/" target="_blank">Theme</a>
    </p>
    <br>    

